.rl-drpicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  border: 2px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  width: auto;
  padding: 10px;
  color: #333;
  >.column {
    display: inline-block;
    vertical-align: top;
  }
  >#range-container {
    width: 140px;
    >.range {
      font-size: 11pt;
      background-color: #f5f5f5;
      border: 1px solid #f5f5f5;
      color: #08c;
      padding: 5px 12px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    >.range:hover {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff;
    }
  }
  >#calendar-container {
    margin-left: 10px;
    .calendar-input {
      padding: 0 15px;
      margin-bottom: 10px;
      >input {
        width: 100%;
        font-size: 11pt;
        padding: 5px 0px 5px 5px;
      }
    }
    .calendar-period {
      text-align: center;
      font-weight: 800;
      font-size: 10pt;
      padding: 7px 10px 3px 18px;
      line-height: 0.8em;
      .calendar-nav {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        cursor: pointer;
      }
      .calendar-nav:hover {
        border: solid #08c;
        border-width: 0 3px 3px 0;
      }
      .calendar-nav.prev {
        float: left;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      .calendar-nav.next {
        float: right;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
    .days-header {
      >div {
        display: inline-block;
        padding: 7px 3px;
        font-weight: 800;
        font-size: 10pt;
        white-space: nowrap;
        text-align: center;
        min-width: 32px;
      }
    }
    .calendar-row {
      >div {
        cursor: pointer;
        display: inline-block;
        padding: 7px 3px;
        font-weight: 500;
        font-size: 10pt;
        white-space: nowrap;
        text-align: center;
        min-width: 32px;
      }
      >div:hover {
        background-color: #eee;
        color: #333;
      }
      >div.active:not(.off) {
        background-color: #08c;
        color: #fff;
      }
      >div.start-date:not(.off) {
        border-radius: 5px 0 0 5px;
      }
      >div.end-date:not(.off) {
        border-radius: 0 5px 5px 0;
      }
      >div.start-date.end-date {
        border-radius: 5px;
      }
      >div.in-range:not(.off) {
        background-color: #ebf4f8;
        color: #333;
        ;
      }
      .today {
        background: #b71c1c;
        color: white;
      }
      .off {
        color: #999;
      }
    }
  }
  .buttons {
    >button {
      padding: 5px 10px;
      font-size: 11pt;
      cursor: pointer;
    }
    button.apply {
      background: #08c;
      color: #fff;
      border: 1px solid #08c;
    }
    button.apply:hover {
      background: #1565c0;
    }
    button.cancel {
      background: #eee;
      border: 1px solid #ddd;
    }
    button.cancel:hover {
      background: #ccc;
    }
  }
}

.rl-drpicker:before {
  position: absolute;
  display: inline-block;
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  content: '';
}

.rl-drpicker:after {
  position: absolute;
  display: inline-block;
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  content: '';
}
